/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/gb
/affichage.csv
/centoweb.csv
/centoweb_panel_prod.csv
/correction_mac.sql
/update_mac.sql
/panel_prod_defaut.sql
/update_prod.sql
/newPanneau.sql
src/AppBundle/Entity/PanelProduction.php
/src/AppBundle/Form/PanelProductionForm.php
/gb.save
/phpunit.xml.dist
/composer.phar
/.idea
