{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test graph</h1>

    <div id="div_graphCableBy"></div>
    <div id="div_graphStructure"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([cableBy,structure], ['div_graphCableBy','div_graphStructure']) }}

    </script>
{% endblock %}

